.expenses-grid {
    background: #fafafa;
    width: 50vw;

    .expenses-row {
        display: grid;
        grid-template-columns: max-content 3fr max-content;
        align-items: center;
        border: 1px solid #eee;
        border-bottom: 0px;
        position: relative;
        // transition: grid-template-columns ease-in-out .3s;

        &:last-child {
            border-bottom: 1px solid #eee;
        }

        .expenses-icon {
            border-right: 1px solid #eee;
            font-size: 30px;
            padding: 25px 30px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2AAAEF;
        }

        .expenses-details {
            padding: 25px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            color: #4d4d4d;
            background-color: #fafafa;
            z-index: 2;

            .amount, .name {
                font-size: 18px;
            }

            .amount, .date {
                text-align: right;
            }

            .name {
                font-weight: 400;
            }

            .amount {
                font-weight: 500;
                color: #d00d26;
            }

            .category, .date {
                font-size: 13px;
                font-weight: 500;
                color: #9b9b9b;
                padding-top: 5px;
            }
        }

        .expenses-actions {
            // position: absolute;
            right: 0px;
            opacity: 0;
            // background: #fafafa;
            width: 0px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid #eee;
            transition-timing-function: ease-in-out;
            transition: opacity .3s, width .5s;
            z-index: 1;

            i {
                position: absolute;
                right: 25px;
            }
        }

        &:hover {
            .expenses-actions {
                width: 50px;
                opacity: 1;
            }
        }
    }
}
