
$font-family: 'Roboto', sans-serif;

$text-color: #444;

$page-bg: #f5f5f5;
$menu-bg: #fff;
$menu-border: darken($page-bg, 1%);

$hover-color: #dd1a84;

$success: #58a560;
$info: #4a8dbb;
$danger: #c33536;
$warning: #f1cd2b;
